<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="header-bar">
        <h1>Sasquatch Sightings</h1>
        <h2>{{ user.first_name}} {{ user.last_name }}</h2>
    </div>

    <div class="button-bar">
        <form action="/create" class="report">
            <input class="bg-info text-white" type="submit" value="Report A Sighting" style="margin-right: 10px">
        </form>

        <form action="/logout" class="logout" method="POST" style="margin-right: 10px">
            <input class="bg-info text-white" type="submit" value="Logout">
        </form>
    </div>

    <div class="container">
        <div class="row">
            <h2>Reported Sightings</h2>
            <div class="col-10">
                {% for sighting in sightings%}
                <div class="post-left-content">
                    <p>{{ sighting.location }} {{ sighting.date }}</p>
                    <p>Reported By: {{ sighting.creator.first_name}} {{ sighting.creator.last_name }}</p>
                </div>
                
                {% if session['user_id'] == sighting.creator.id %}
                <div class="post-right-content">
                    
                    <form action="/edit/{{ sighting.id }}" method="GET">
                        <input class="btn btn-secondary" type="submit" value="Edit" style="margin-bottom: 10px;">
                    </form>

                    <form action="/delete/{{ sighting.id }}" method="POST">
                        <input class="btn btn-secondary" type="submit" value="delete" style="margin-bottom: 10px;">
                    </form>

                    <form action="/view/{{ sighting.id }}">
                        <input class="btn btn-secondary" type="submit" value="View" style="margin-bottom: 10px;">
                    </form>

                    {% else %}
                    <form action="/view/{{ sighting.id }}">
                        <input class="btn btn-secondary" type="submit" value="View" style="margin-bottom: 10px;">
                    </form>
                    {% endif %}
                {% endfor %}
                </div>
                        
                <div class="seperator">
                </div>
            </div>
        </div>
    </div>

</body>
</html>