<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>View Sighting</title>
</head>
<body>
    <div class="header-bar" style="display: flex; justify-content: space-between">
        <h1>Sasquatch Sightings</h1>
        <h2>{{ user.first_name}} {{ user.last_name }}</h2>
    </div>

    <div class="button-bar" style="display: flex; justify-content: end">
        <form action="/dashboard" class="report">
            <input class="bg-info text-white" type="submit" value="Dashboard" style="margin-right: 10px">
        </form>

        <form action="/logout" class="logout" method="POST">
            <input class="bg-info text-white" type="submit" value="Logout" style="margin-right: 10px">
        </form>
    </div>

    <div class="container">
        <h2>{{ sighting.location }} on {{ sighting.date }}</h2>
        <div class="row">
            <div class="col-5">
                <h3>What Happened:</h3>
                <p>{{ sighting.memo }}</p>
                <p># of Sasquatches: {{ sighting.sasquatchs }}</p>
                <p>Reported By: {{ sighting.creator.first_name }} {{ sighting.creator.last_name }}</p>
            </div>
        </div>
    </div>
</body>
</html>