<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>What's This Page?</title>
</head>
<body class="suprise_bg">
    <div class="container d-flex flex-column justify-content-center page">
            <audio controls autoplay src="/static/img/secret_sound.mp3" class="ml-5 player"></audio>
            <h1 class="mb-3 secret_header">I pass yes?</h1>
            <p class="secret_p">(If I didn't then this is sad lmfao)</p>
            <img src="/static/img/secret_picture.jpg" alt="secret_picture" class="ml-5 secret_img">
    </div>
</body>
</html>