<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Show</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>{{ dojo.name }} Ninjas</h1>
    {% if dojo.ninjas|length == 0 %}
    <p>There are no ninja's in this dojo.</p>
    {% else %}
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        {% for ninja in dojo.ninjas %} <!--this is referring to the ninjas inside our dojo variable that were passing over-->
        <tr>
            <td>{{ ninja.first_name }}</td>
            <td>{{ ninja.last_name }}</td>
            <td>{{ ninja.age }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="/dojos">Home</a>
</body>
</html>
