<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
    <h1>WELCOME {{ user.first_name }}!!!</h1>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <form action="/logout" method="POST">
                    <input class="bg-info text-white" type="submit" value="Logout">
                </form>
            </div>
        </div>
    </div>

    <div>
        <p>{{ thoughts.thought }}hello</p>
        <p>{{ thoughts.id }}</p>
        <p>{{ thoughts.first_name }}</p>
        <p>{# thoughts.creator.first_name #}</p>
    </div>
</body>
</html>

<!--
    Jonathan,
    I'm so sorry. I really don't know what happened with this attempt... I went in so confident. I thought I was going to nail it. I had TWO previous working
    attempts, and I had managed to get so far on my own for the first time. I took everyone's advice to work page by page, and I figured I'd start with the
    edit, since thats where I always would get tripped up. But... I spent the ENTIRE day trying to solve why my data won't load on the page. I tried SO MANY 
    things... and it won't. And I don't understand why. I went over and over my previous attempts again, broke them down. Saw why they worked. Came back here,
    tried to find the reason this one wasn't. I really thought I understood the association stuff after my last attempts because I can break down the lines,
    and understand the steps and whats happening there... but yet I couldn't solve it. And if I can't... the I don't deserve to pass.. I obviously am still
    missing something and I just feel bad that I let you and the TAs who tried helping me to understand it all down.. I'm sorry. I really am at a loss..

    I tried to do this THREE TIMES. I started it over multiple times, started fresh. This is was my third and final attempt. (..ironic.) I'm sending you this 
    one because my first attempt really didn't have anything else other than the prettier html and what I'm assuming was going to be javascript? Honestly,
    once I get to the like stuff I wasn't sure if there was something other than Javascript that I was supposed to do to make that happen, so probably 
    another reason why I don't deserve to pass if there is..
-->