<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Ninja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <h1>New Ninja</h1>
    <div class="d-flex flex-column mt-3"> 
        <!-- how do i get the inputs to be vertical within the div? -->
            <form class="mb-3" action="/create_new_ninja" method="post">
                <label for="dojo">Dojo: </label>
                <select name="dojo_id">
                    {% for dojo in dojos%}
                    <option value="{{dojo.id}}">{{ dojo.name }}</option>
                    {% endfor %}
                </select>

                <label for="first_name">First Name: </label>
                <input type="text" name="first_name"></input>
                
                <label for="last_name">Last Name: </label>
                <input type="text" name="last_name"></input>
                
                <label for="age">Age: </label>
                <input type="number" name="age"></input">
                
                <input type="submit" value="create">
            </form>
        <a href="/dojos">Home</a>
    </div>
</body>
</html>