<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>

    <style>
        h1 {
            text-align: center;
        }
    
        .box {
            width: 200px;
            height: 200px;
            border: 2px solid black;
            background-color:aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
        }
        </style>
</head>

<body>
    
    <h1>Welcome!</h1>
            {% for i in range (0, times): %}
                <div class="box" style="background-color: {{color}}">
                    <p>Rene's cool!</p>
                </div>
            {% endfor %}

</body>
</html>