<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table>
                <tbody>
                    <tr class="table-dark">
                        <td><strong>First Name</strong></td>
                        <td><strong>Last Name</strong></td>
                    </tr>
                    <tr>
                        <td>Michael</td>
                        <td>Choi</td>
                    </tr>
                    <tr class="table-primary">
                        <td>John</td>
                        <td>Supsupin</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Guillen</td>
                    </tr>
                    <tr class="table-primary">
                        <td>KB</td>
                        <td>KB</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>